:root{
    /* nomedavariável: valor */
    --cor-de-fundo: #1e1e1e;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A3753;
    --botao-inativo: rgba(58,55,94,0.5);
    --texto-fundo: rgba(58,55,94,0.3);
}
*{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
}
span{
 color: var(--branco);
}
.cconteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}
.cconteudo-principal{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
}
.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 32px;
}
.botao{
    background-color: var(--botao-inativo);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: lem;
    font-size: 18px;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
}
